# 以下选项为必填
profile:
  username: "xxxxxxxx" # 学号
  password: "xxxxxxxx" # 上课啦密码

# 以下选项均选填，下方模板中的值即为默认值。
# 其中，tgbot.token 和 uptimekuma.url 若为空字符串，则禁用对应的模块。
cron:                            # 计划任务
  time: "30 6 * * *"               # 计划任务开始时间，遵循 cron 格式
  random_min: 0                    # 随机延迟最小值（单位：秒）
  random_max: 3600                 # 随机延迟最大值（单位：秒）
  retry: 3                         # 最大重试次数 0 表示不重试 (默认 3) 推荐小于8
  retry_interval: 5                # 最小重试间隔（单位：秒）
tgbot:                           # Telegram 推送
  token: ""                        # 机器人 Token
  chatid: 0                        # Chat ID
  endpoint: "api.telegram.org"     # Telegram Bot API Endpoint
  timeout: 10                      # Timeout 时间（单位：秒）
  retry: 5                         # 最大重试次数
uptimekuma:                      # Uptime Kuma 推送
  url: ""                          # Uptime Kuma Push 地址
  timeout: 10                      # Timeout 时间（单位：秒）
  retry: 5                         # 最大重试次数
